{% extends 'base.html.twig' %}

{% block title %}Main page
{% endblock %}

{% block body %}
	<h3>Latest Items</h3>
	<div class="row">
		{% for item in items %}
			<div class="col-md-3 mb-3">
				<div class="card h-100">
					<div class="card-body">
						<h5 class="card-title">
							<a href="{{ path('app_item_show', {id: item.id}) }}" class="link-secondary">{{ item.name }}</a>
						</h5>
						<p class="card-text">
							<strong>Collection:</strong>
							{{ item.itemCollection.name }}
						</p>
						<p class="card-text">
							<strong>Author:</strong>
							{{ item.itemCollection.user.name }}
						</p>
					</div>
					<div class="card-footer">
						<a href="{{ path('app_item_show', {id: item.id}) }}" class="btn btn-primary">View Item</a>
					</div>
				</div>
			</div>
		{% endfor %}
	</div>
{% endblock %}
