{% extends 'base.html.twig' %}

{% block title %}Search Results{% endblock %}

{% block body %}
  <div class="row px-5 mx-5">
    {% include 'partials/search_input.html.twig' with {'prompt' : prompt} %}
  </div>
	<div class="container my-5">
    <h2 class="mb-4">Search Results</h2>
    {% if results_items is empty %}
        <div class="alert alert-warning" role="alert">
            No results found for your search.
        </div>
    {% else %}
        <div class="row">
            {% for item in results_items %}
                <div class="col-md-4 mb-3">
                    <div class="card h-100">
                        <div class="card-body">
                            <h5 class="card-title">
                                <a href="{{ path('app_item_show', {id: item.id}) }}" class="link-secondary">{{ item.name }}</a>
                            </h5>
                            <p class="card-text">
                                <strong>Tags:</strong> {{ item.tags }}
                            </p>
                            <p class="card-text">
                                <strong>Likes:</strong> {{ item.likes ? item.likes.users|length : 0 }}
                            </p>
                        </div>
                        <div class="card-footer">
                            <a href="{{ path('app_item_show', {id: item.id}) }}" class="btn btn-primary">View Item</a>
                        </div>
                    </div>
                </div>
            {% endfor %}
        </div>
    {% endif %}
	</div>
{% endblock %}
