{% extends 'base.html.twig' %}

{% block title %}My Collections
{% endblock %}

{% block body %}
	<div class="row px-5 mx-5">
		{% include 'partials/search_input.html.twig' with { 'prompt': "" }%}
	</div>
	{# {% include "partials/newBtn.html.twig" with { 'route': createRouteName } %} #}
	<div
		class="px-4 py-5 my-5 text-center">
		{# <img class="d-block mx-auto mb-1" src="/docs/5.3/assets/brand/bootstrap-logo.svg" alt="" width="72" height="57"> #}
		<h1 class="display-5 fw-bold text-body-emphasis">{{ collection.name }}</h1>
		<div class="col-lg-6 mx-auto">
			<p class="lead mb-1">{{ collection.description }}</p>
			<p class="lead mb-1">Category:
				{{ collection.category }}</p>

			{% if app.user and app.user.email == collection.user.email %}
				<div class="d-grid gap-2 d-sm-flex justify-content-sm-center">
					<a href={{ path('app_item_new', {id:collection.id} ) }} type="button" class="btn btn-success btn-lg px-4 gap-3">+ Add New Item</a>
					<a href={{ path('app_collection_update_form', {id:collection.id} ) }} type="button" class="btn btn-warning btn-lg px-4 gap-3">Edit Collection Details</a>
					<a href={{ path('app_collection_delete', {id:collection.id} ) }} type="button" class="btn btn-outline-danger btn-lg px-4">Delete Collection</a>
				</div>
			{% endif %}

		</div>

		{% if collection.item is not empty %}
			{% include "item/index.html.twig" with {'collection': collection}%}
		{% endif %}
	</div>
{% endblock %}
