{% extends "base.html.twig" %}

{% block title %}New Item
{% endblock %}

{% block body %}
	<h3>Collection Name:
		{{ collection.name }}
	</h3>
	<form action={{ path('app_item_save', {'id': collection.id} ) }} method="POST">
		<div class="container-fluid">
			<div class="row">
				<div class="col-md-9 p-5 bg-body-tertiary rounded-5">
					<h2>New Item</h2>
					<div class="input-group mb-2">
						<span for="itemName" class="input-group-text">Item Name</span>
						<input type="text" class="form-control" id="itemName" name="name" required>
					</div>
					
					{% for int in collection.integers %}
						{% if int %}
							<div class="input-group mb-2">
								<span for="int{{ loop.index }}" class="input-group-text">{{ int|capitalize }}</span>
								<input type="number" class="form-control" id="int{{ loop.index }}" name="int{{ loop.index }}" required>
							</div>
						{% endif %}
					{% endfor %}
					
					{% for string in collection.strings %}
						{% if string %}
							<div class="input-group mb-2">
								<span for="string{{ loop.index }}" class="input-group-text">{{ string|capitalize }}</span>
								<input type="text" class="form-control" id="string{{ loop.index }}" name="string{{ loop.index }}" required>
							</div>
						{% endif %}
					{% endfor %}
					
					{% for text in collection.texts %}
						{% if text %}
							<div class="form-floating">
								<textarea class="form-control" placeholder="Leave a {{ text }} here" id="floatingTextarea2" style="height: 100px" name="text{{ loop.index }}"></textarea>
								<label for="floatingTextarea2">{{ text|capitalize }}</label>
							</div>
						{% endif %}
					{% endfor %}
					
					{% for bool in collection.bools %}
						{% if bool %}
							<div class="form-check">
								<input class="form-check-input" type="checkbox" value="" id="flexCheckDefault" name="bool{{loop.index}}">
								<label class="form-check-label" for="flexCheckDefault">{{ bool }}</label>
							</div>
						{% endif %}
					{% endfor %}
					
					{% for date in collection.dates %}
						{% if date %}
							<div class="input-group mb-2">
								<span for="date{{ loop.index }}" class="input-group-text">{{ date|capitalize }}</span>
								<input type="date" class="form-control" id="date{{ loop.index }}" name="date{{ loop.index }}" required>
							</div>
						{% endif %}
					{% endfor %}

					<button type="submit" class="btn btn-success mt-2">Create</button>
				</div>
			</form>
		{% endblock %}
