{% extends "base.html.twig" %}

{% block title %}New Item
{% endblock %}

{% block body %}
	{% if error %}
		<div class="alert alert-warning" role="alert">
			{{ error }}
		</div>
	{% endif %}

	<h3>Collection Name:
		{{ collection.name }}
	</h3>
	<form action={{ path('app_item_save', {'id': collection.id} ) }} method="POST">
		<div class="container-fluid">
			<div class="row">
				<div class="col-md-9 p-5 bg-body-tertiary rounded-5">
					<h2>New Item</h2>
					<div class="input-group mb-2">
						<span for="itemName" class="input-group-text">Item Name</span>
						<input type="text" class="form-control" id="itemName" name="name" required>
					</div>

					{% for int in collection.integers %}
						{% if int %}
							<div class="input-group mb-2">
								<span for="int{{ loop.index }}" class="input-group-text">{{ int|capitalize }}</span>
								<input type="number" class="form-control" id="int{{ loop.index }}" name="int{{ loop.index }}" required>
							</div>
						{% endif %}
					{% endfor %}

					{% for string in collection.strings %}
						{% if string %}
							<div class="input-group mb-2">
								<span for="string{{ loop.index }}" class="input-group-text">{{ string|capitalize }}</span>
								<input type="text" class="form-control" id="string{{ loop.index }}" name="string{{ loop.index }}" required>
							</div>
						{% endif %}
					{% endfor %}

					{% for text in collection.texts %}
						{% if text %}
							<div class="form-floating">
								<textarea class="form-control" placeholder="Leave a {{ text }} here" id="floatingTextarea2" style="height: 100px" name="text{{ loop.index }}"></textarea>
								<label for="floatingTextarea2">{{ text|capitalize }}</label>
							</div>
						{% endif %}
					{% endfor %}

					{% for bool in collection.bools %}
						{% if bool %}
							<div class="form-check">
								<input class="form-check-input" type="checkbox" value="" id="flexCheckDefault" name="bool{{loop.index}}">
								<label class="form-check-label" for="flexCheckDefault">{{ bool }}</label>
							</div>
						{% endif %}
					{% endfor %}

					{% for date in collection.dates %}
						{% if date %}
							<div class="input-group mb-2">
								<span for="date{{ loop.index }}" class="input-group-text">{{ date|capitalize }}</span>
								<input type="date" class="form-control" id="date{{ loop.index }}" name="date{{ loop.index }}" required>
							</div>
						{% endif %}
					{% endfor %}


					<div class="container">
						<label for="exampleDataList" class="form-label">Tags</label>
						<div id="tag-inputs">
							<input class="form-control tag-input" list="datalistOptions" id="exampleDataList" autocomplete="off" name="tag1">
						</div>
						<datalist id="datalistOptions">
							{% if tags %}
								{% for tag in tags %}
									<option value="{{ tag }}"></option>
								{% endfor %}
							{% endif %}
						</datalist>
					</div>

					<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
					<script>
						$(document).ready(function () { // Counter to keep track of the number of tag inputs
let tagCounter = 1;

// Function to add a new tag input
function addTagInput() {
tagCounter++;
const newInput = $('<input class="form-control tag-input mt-2" list="datalistOptions" autocomplete="off">').attr('name', 'tag' + tagCounter);
$('#tag-inputs').append(newInput);
}

// Event listener for tag inputs
$('#tag-inputs').on('input', '.tag-input', function () {
const input = $(this);
// Check if the input is the last one and not empty
if (input.is(':last-child') && input.val().length > 0) {
addTagInput();
}
});
});
					</script>
					<button type="submit" class="btn btn-success mt-2">Create</button>
				</div>
			</div>
		</div>
	</form>
{% endblock %}
