{% extends "base.html.twig" %}

{% block title %}About Item
{% endblock %}

{% block body %}
	<div class="row px-5 mx-5">
		{% include 'partials/search_input.html.twig' with { 'prompt': "" }%}
	</div>
	<div class="px-4 pt-5 my-5 text-center border-bottom">
		<h1 class="display-4 fw-bold text-body-emphasis">{{ item.name }}</h1>
		<div class="col-lg-6 mx-auto">
			<p class="lead mb-4">Likes:
				{{ item.likes ? item.likes.users|length : 0 }}</p>
			<div class="d-grid gap-2 d-sm-flex justify-content-sm-center mb-5">
				{% include "partials/like_btn.html.twig" with {'item': item,} %}
				{% if app.user and app.user.email == item.itemCollection.user.email %}
					<a href="{{ path('app_item_edit', {id: item.id}) }}" class="btn btn-lg btn-warning">Edit</a>
					<a href="{{ path('app_item_delete', {id: item.id}) }}" class="btn btn-lg btn-outline-danger">Delete</a>
				{% endif %}
			</div>
		</div>
	</div>

	<div class="container px-4 pb-5" id="icon-grid">
		<p class="h2 mb-3">Tags</p>
		<div class="container mb-5">
			{% if item.tags|length > 0 %}
				{% for tag in item.tags %}
					<a href={{ path('app_search', {prompt: tag.name} ) }} class="btn btn-primary mb-3 shadow-lg">{{ tag.name }}</a>
				{% endfor %}
			{% else %}
				<h6>no tags</h6>
			{% endif %}
		</div>

		<div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 row-cols-lg-4 g-4 py-5">
			{% for int in item.integers %}
				<div class="col d-flex align-items-start">
					<svg class="bi text-body-secondary flex-shrink-0 me-3" width="1.75em" height="1.75em">
						<use xlink:href="#bootstrap"></use>
					</svg>
					<div>
						<h3 class="fw-bold mb-0 fs-4 text-body-emphasis">{{ int.name|capitalize }}</h3>
						<p>{{ int.value }}</p>
					</div>
				</div>
			{% endfor %}

			{% for string in item.stringFields %}
				<div class="col d-flex align-items-start">
					<svg class="bi text-body-secondary flex-shrink-0 me-3" width="1.75em" height="1.75em">
						<use xlink:href="#bootstrap"></use>
					</svg>
					<div>
						<h3 class="fw-bold mb-0 fs-4 text-body-emphasis">{{ string.name|capitalize }}</h3>
						<p>{{ string.value }}</p>
					</div>
				</div>
			{% endfor %}

			{% for bool in item.boolFields %}
				<div class="col d-flex align-items-start">
					<svg class="bi text-body-secondary flex-shrink-0 me-3" width="1.75em" height="1.75em">
						<use xlink:href="#bootstrap"></use>
					</svg>
					<div>
						<h3 class="fw-bold mb-0 fs-4 text-body-emphasis">{{ bool.name|capitalize }}</h3>
						<p>{{ bool.value ? "Yes" : "No"}}</p>
					</div>
				</div>
			{% endfor %}

			{% for date in item.dateFields %}
				<div class="col d-flex align-items-start">
					<svg class="bi text-body-secondary flex-shrink-0 me-3" width="1.75em" height="1.75em">
						<use xlink:href="#bootstrap"></use>
					</svg>
					<div>
						<h3 class="fw-bold mb-0 fs-4 text-body-emphasis">{{ date.name|capitalize }}</h3>
						<p>{{ date.stringValue }}</p>
					</div>
				</div>
			{% endfor %}

			{% for text in item.textFields %}
				<div class="col d-flex align-items-start">
					<svg class="bi text-body-secondary flex-shrink-0 me-3" width="1.75em" height="1.75em">
						<use xlink:href="#bootstrap"></use>
					</svg>
					<div>
						<h3 class="fw-bold mb-0 fs-4 text-body-emphasis">{{ text.name|capitalize }}</h3>
						<p>{{ text.value|nl2br }}</p>
					</div>
				</div>
			{% endfor %}
		</div>
	</div>

	<p class="h3">Comments</p>
	{% include('comment/comment_form.html.twig') with {'item': item} %}
	{% if item.comments %}
		{% for comment in item.comments %}
			{% include('comment/index.html.twig') with {'comment': comment} %}
		{% endfor %}
	{% endif %}
{% endblock %}
